<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="profile.css">
  </head>
  <body>
    <div class="container">

      <div class="header">
        <div class="search-bar">
          <input type="text" placeholder="Search...">
          <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <div class="buttons">
          <button class="share-btn"><i class="fas fa-share"></i></button>
          <button class="settings-btn"><i class="fas fa-cog"></i></button>
        </div>
        <img class="avatar" src="{{user.profileImage}}" alt="">
        <h1 class="display-name">{{user.displayName}}</h1>
        <p class="biography">{{user.biography}}</p>
        <div class="hashtags">
          {{#each user.hashtags}}
            <span>{{this}}</span>
          {{/each}}
        </div>
      </div>
  
      <div class="links">
        {{#each user.links}}
          <a class="link" href="{{this.url}}">{{this.name}}</a>
        {{/each}}
      </div>
  
    </div>

    <script src="https://kit.fontawesome.com/b91caa2f2a.js" crossorigin="anonymous"></script>
  </body>
</html>
